body {
    background-color: #FEFAE0;
    padding: 0%;
    font-family: 'STIX Two Text';
    margin: 0%;
    display: block;
}

.background{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 0;
    z-index: -1;
    margin-top: 0cm;
    margin-left: 0cm;
    bottom: 0%;
    position: absolute;
  }

.logo{
    position: absolute;
    top:9%;
    
    /* margin-top: 2%;
    display: block;
    margin-right: auto;
    margin-left: auto; */
    text-align: center;
    max-width: 100px;
    max-width: 100px;
    /* margin-bottom: 0%; */
}
.title{
    margin-top: 12%;
    text-align: center;
    font-size: 80px;
    background: -webkit-linear-gradient(
    left,
    #606C38,
    #4e582d, 
    #0b0f06,
    #1a2410
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0%;
  animation-name: load;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

h1{
    position: relative;
}

@keyframes bounce {
    0%{margin-top: 0%;}
    50%{margin-top: 3%;}
    100%{margin-top: 0%;}
  }
  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 28px;
    font-family: "Rubik";
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    border-radius: 8px;
    animation-name: bounce;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-duration: 0.4s;
  }

  .button:hover{
      color: black;
      background-color: white;
  }

  nav{
    position: relative;
    float: right;
    display: inline;
    width: 110%;
    margin: 2%;
    padding: 0%;
    text-align: right;
    animation-name: load;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
    nav span{
        display: inline;
        padding: 0.2cm;
        font-size: 18px;
        text-decoration: none;
  }

  .desc{
    animation-name: load;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
/* 
  @keyframes load {
    0%{
        margin-bottom: 0%;
        opacity: 0;
    }
    50%{
        margin-bottom: 3%;
        opacity: 0.5;
    }
    100%{
        margin-bottom: 0%;
        opacity: 1;
    }
  } */
  a {
      text-decoration: none;
      color: #0b0f06;
  }
  
  @media screen and (max-width: 830px) {
    .title{
        font-size: 40;
    }

}

.form{
   float: left; margin-left: 2%;
}

.question{
  font-size: 30px;
}

.selections{
  background-color: #1a2410;
  color: white;
  font-family: 'STIX Two Text';
  font-size: 22px;
  border: none;
  padding: 3%;
  margin: 2%;
  pointer-events: none;
}

.selections:focus{
  background-color: #4e582d;
}
.color{
  background-color: #1a2410;
}
.color:visited{
  background-color: #4e582d;
} 

input[type="checkbox"]+label{
  border:  none;
  padding: 2%;
  background-color: #1a2410;
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #606C38;
  font-size: 22px;
  color: aliceblue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 1%;
  padding-right: 1cm;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: relative;
  left: 0;
  height: 25px;
  width: 25px;
}
.container:hover{
  background-color: #1a2410;
}

.container input:checked ~ .checkmark {
  background-color: #1a2410;
  

}
.container input:checked{
  background-color: #1a2410;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

input:checked .container{
  background-color: #0b0f06;
}
.container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.location{
  position: relative;
  float: left;
  font-size: 20px;
}

.location input[type='text']{
  border: none;
  color: white;
  background-color: #606C38;
  padding: 15px;
}

.location input[type='text']:focus{
  border: none;
  color: white;
  background-color: #363b23;
  padding: 1%;
}

.types{
  color: white;
  padding: 3%;
  font-family: "STIX Two Text";
  background-color: #0b0f06;
  text-decoration: none;
  border: none;
  border-radius:25px; 
  margin:2px;
  margin-bottom: 2%;
}

.types:hover{
  background-color: cornflowerblue;
  color: black;
}

.displayimage{
  
  border-radius: 25px;
  border-color: rgb(117, 51, 51);
  border-style: solid;
  border-width: 5px;
  /* margin-bottom: 20%; */
  max-width: 300px;
  max-height: 300px;
  margin-left: 10%;
}
.next {
  background-color: rgb(177, 65, 65);
  border: none;
  color: white;
  padding: 15px 28px;
  font-family: "Rubik";
  text-align: center;
  text-decoration: none;
  
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.next:hover{
    color: black;
    background-color: white;
}