{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div style="text-align: center;">
        <br>
        <br><br>
        <h1 class="title" style="margin-top: 0%; margin-left: 2%; width: 98%;">About</h1>
        <span class="desc" style="margin-top: 0%; margin-left: 1cm; margin-right: 1cm; text-align: justify;">
            Have you ever had trouble making plans with friends? Do you know what activity you would want to do, but have trouble finding a convenient location? <br>
            <i>Our Coffee Time</i> allows you to easily meet up with your friends by providing a list of hangout spots close to all of you. <br>
            All kinds of places are provided, whether you're looking to taste new flavors as you dine at a local restaurant, feel the sun on your skin as you trek through the great outdoors, <br>
            experience something new with some courageous companions, or just enjoy a drink with the laughter of your closest chums in the background. 
            <br><br>
            To use <i>Our Coffee Time</i>, simply head over to the "Plan" tab, select all the activities you plan to do with your friends, and click "Submit."  <br>
            Input your address and those of your friends, and there will be a list of convenient hangout spots for all of you. <br>
        </span>
        

    </div>
</section>
{% endblock %}