{% extends "base.html" %}
{% load static %}

{% block content %}
<img class="background" src="{% static 'media/plansbg.png'%}"/>
<section style="display: block;" >
    <h1 class="title" style="margin-top: 0%; margin-left: 2%; float: left; width: 98%; text-align: left;">Plan</h1>
    <div class="form">
        <span style="color: rgb(202, 62, 62);">Pick one of the categories below and type the desired location. Press "Submit" to save your changes. Press "To Results" to view your results</span>
        <br>
        <div>
            
            <span class="question">{{question}}</span>
            <br>
            <div style="display: inline-block; width: 98%;">
                
                <form method="post" action=>
                    {% csrf_token %} 
                    <div style="display: inline-flexbox;" >
                        {% for t in types%}
                        <label class="container">{{t.name}}
                            <input
                                type="radio"
                                name="{{question}}"
                                value="{{t.name}}"
                            />
                            <span class="checkmark"></span>
                        </label>
                        {% endfor %}
                    </div>
                    <label class="location" style="display: inline-block;width: 100%;"> Location <input type="text" name="textfield"></label>
                    <br><br><br>
                    <div>
                        <button class="button" type="submit" style="float: left; animation: none; display: inline-block;">Submit</button>
                        <a class="next" href="{%url 'results' %}">To Results</a>
                    </div>
                    

                </form>
            </div>
            
        </div>
            <!-- <img class="logo" src="{% static 'media/CoffeeTime.png'%}"> -->
        <br>
            
    </div>

    
</section>
{% endblock %}
