{% extends "base.html" %}
{% load static %}

{% block content %}

<section style="display: block;" >
    <div class="form">
        <h1 class="title" style="margin-top: 0%; margin-left: 0%; float: left; width: 100% ;">Plan</h1>

        <br>
        <br>
        <div>
            <span class="question">{{question}}</span>
            <form method="POST" action="">
                {% csrf_token %} 
                <div >
                    {% for t in types%}
                    <input
                        class="selections"
                        type="submit"
                        name="{{question}}"
                        value={{t.name}}
                    />
                    {% endfor %}
                </div>
                
            </form>
        </div>
            <!-- <img class="logo" src="{% static 'media/CoffeeTime.png'%}"> -->
        
        
    </div>
</section>
{% endblock %}
