{% extends "base.html" %}
{% load static %}

{% block content %}
<img class="background" src="{% static 'media/bottom.png'%}"/>
<section>
    <div style="text-align: center;">
        <br>
        
        <h1 class="title">Our Coffee Time
            <!-- <img class="logo" src="{% static 'media/CoffeeTime.png'%}"> -->
        </h1>
        <span class="desc" style="margin-top: 0%;">
            Our simple tool to help plan get-togethers!
        </span>
        <br><br>
        
        <a style="text-decoration: none;" href="{%url 'coffee' %}"><button class="button">Get Started</button></a>
    </div>
</section>
{% endblock %}
